/* For All Screen-sizes */


body{
    overflow: hidden;
    width:  100%;
    height: 100%;
    margin:  0%;
    background-image: url('../img/menuPicture.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#headLine {
    position:absolute;
    width: 100%;
    height: 5%;
    background-color: rgba(244,244,244,0.5);
}

    #headLine #menueBtn {

        position:absolute;
        top:  5%;
        left: 2%;
        height: 90%;
        z-index: 1;

        background-image: url("../img/hamburger-menu.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #headLine #menueBtn:hover {
        background-color: rgba(200,0,0,0.5);
    }

    #headLine #text {
        position:absolute;
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-family: 'Dancing Script', cursive;
    }

        #headLine #text #preText {
            color:white;
            margin-right: 5%;
        }
        
    #headLine #profileImg {
        position: absolute;
        top: 120%;
        width: 50%;
        height: 400%;
        left: 25%;
        
        background-color: blue;
        border-radius: 100%;
    }

footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: rgba(244,244,244,0.5);
    text-align: center;
}

    footer text {
        width: 100%;
        text-align: center;
        font-size: medium;
    }

    footer #github{
        position: absolute;
        bottom: 50%;
        right: 2%;
        height: 400%;
        width: auto;
        border-radius: 100%;
        background-color: aliceblue;
        animation-name: iconSwing;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }

    footer #github:hover{
        cursor: pointer;
    }


/* Special Cases */

     /*Ultrawide Screens*/
     @media screen and (min-width: 2560px)
     {
         body{
            background-color: black;  
         }
 
         #headLine #text {
             font-size: 1.5vw;
         }
 
         #headLine #menueBtn {
             width: 3%;
         }
         
     }

      /*Ultrawide Screens - Horizontal View (less height)*/
     @media screen and (min-width: 2560px) and (max-width: 2560px)
    {
        body{
            background-color: black;  
        }

        #headLine {
            height: 15%;
        }

        #headLine #text {
            font-size: 1vw;
        }

        #headLine #menueBtn {
            width: 10%;
        }
        
    }


    /*Desktop*/
    @media screen and (min-width: 1024px) and (max-width: 2560px)
    {
        body{
            background-color: black;  
        }

        #headLine #text {
            font-size: 3vw;
        }

        #headLine #menueBtn {
            width: 3%;
        }
        
    }

     /*Desktop - Horizontal View (less height)*/

     @media screen and (min-width: 1024px) and (max-width: 2560px) and (max-height: 300px)
    {
        body{
            background-color: black;  
        }

        #headLine {
            height: 15%;
        }

        #headLine #text {
            font-size: 2vw;
        }

        #headLine #menueBtn {
            width: 10%;
        }
        
    }

    /*Tablets*/
    @media screen and (min-width: 600px) and (max-width: 1023px)
    {
        body{
            background-color: black;  
        }

        #headLine #text {
            font-size: 3vw;
        }

        #headLine #menueBtn {
            width: 10%;
        }
    }

     /*Tablets - Horizontal View*/

     @media screen and (min-width: 600px) and (max-width: 1023px) and (max-height: 300px)
    {
        body{
            background-color: black;  
        }

        #headLine {
            height: 15%;
        }

        #headLine #text {
            font-size: 4vw;
        }

        #headLine #menueBtn {
            width: 10%;
        }
        
    }

    /*Smartphones - Vertical View*/
    @media screen and (max-width: 600px)
    {
        body{
            background-color: black;  
        }

        #headLine #text {
            font-size: 5vw;
        }

        #headLine #menueBtn {
            width: 10%;
        }
        
    }

     /*Smartphones - Horizontal View*/

     @media screen and (max-width: 600px) and (max-height: 300px)
    {
        body{
            background-color: black;  
        }

        #headLine {
            height: 15%;
        }

        #headLine #text {
            font-size: 4vw;
        }

        #headLine #menueBtn {
            width: 10%;
        }
        
    }

    /* Animtations */

    @keyframes iconSwing {
        0% {
            transform: rotate(0deg);
        } 
        
        33%{
            transform: rotate(30deg);
        }

        66%{
            transform: rotate(-30deg);
        }

        100% {
            transform: rotate(0deg);
        } 
    }

